<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <link rel="stylesheet" href="/form.css" />
    <title><%= title %></title>
  </head>
  <body>
    <main>
      <h1>Add <%= title %></h1>
      <% if (locals.errors) {%>
        <ul>
          <% errors.forEach(function(error) { %>
          <li><%= error.msg %></li>
          <% }) %>
        </ul>
      <% } %>
      <form method="POST" action="/new">
        <label for="user">Name</label>
        <input type="text" name="user" id="user" required />
        <label for="text">Message</label>
        <input type="text" name="text" id="text" required />
        <button type="submit">Submit</button>
        <span>
          <a href="/" class="return-home-link">Return to homepage</a>
        </span>
      </form>
    </main>
  </body>
</html>
